* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  zoom: 110%;
}

body {
  font-family: "Manrope", sans-serif;
  color: #555;
}

/* 
===================
General Component
===================
*/

.container {
  max-width: 130rem;
  padding: 0 3.6rem;
  margin: 0 auto;
}

/* 
===================
Business Navigation
===================
*/

.business-nav {
  background-color: rgba(0, 0, 0, 0.039);
}

.business-nav .container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.business-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.business-nav-link:link,
.business-nav-link:visited {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  color: rgb(61, 61, 61);
  cursor: pointer;
}

.business-nav-link:hover,
.business-nav-link:active {
  color: #ff7035;
}

.find-location {
  font-size: 1.2rem;
  display: flex;
  gap: 1.2rem;
}

.pincode {
  cursor: pointer;
}

.find-us:link,
.find-us:visited {
  color: #ff7035;
  cursor: pointer;
}

/* 
===================
Search Nav
===================
*/

.search-nav {
  padding-top: 1.4rem;
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
}

.pepperfry-logo {
  cursor: pointer;
}

.pepperfry-logo img {
  height: 3.4rem;
}

.search-input-box {
  width: 70%;
  display: flex;
  gap: 0;
}

.search-text {
  width: 100%;
  padding-left: 1rem;
}

.search-text,
.search-btn {
  border: none;
  background-color: rgba(0, 0, 0, 0.039);
}

.search-btn {
  cursor: pointer;
  padding-right: 1rem;
}

.search-btn ion-icon {
  font-size: 1.6rem;
}

.search-nav-icon ul {
  list-style: none;
  font-size: 2.8rem;
  font-weight: 600;

  display: flex;
  gap: 1.4rem;
}

.search-nav-icon li {
  cursor: pointer;
}

/* 
===================
Appliaction Nav
===================
*/

.appl-nav {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.039);
}

.appl-nav-list {
  list-style: none;
  color: rgb(30, 30, 30);
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.appl-nav-link {
  padding-bottom: 1rem;
}

.appl-nav-link:link,
.appl-nav-link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.1s;
}

.appl-nav-link:hover,
.appl-nav-link:active {
  border-bottom: 3px solid #e66530;
}

/* 
===================
Hero Section
===================
*/

.hero-img-box {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 44rem 12rem;
  column-gap: 1rem;
  row-gap: 2rem;
  overflow: hidden;
}

.hero-img-box a:first-child {
  position: relative;
}

.dots {
  display: flex;
  gap: 1rem;
  transform: translateX(-50%);

  position: absolute;
  bottom: 2%;
  left: 50%;
}

.dots div {
  width: 1.4rem;
  padding-bottom: 1.4rem;
  border-radius: 50%;
  background-color: #fff;
}

.dots div:nth-child(3) {
  background-color: #e66530;
}

.hero-img-box a {
  text-decoration: none;
}

.hero-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-img-box a:last-child {
  grid-column: 1 / -1;
}

/* 
=======================
Shop Category Section
=======================
*/

.shop-category {
  margin-top: 3rem;
}

.shop-category .secondary-heading {
  text-align: center;
}

.secondary-heading {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(30, 30, 30);
}

.category-box ul {
  list-style-type: none;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.category-box li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category-box img,
.category-box p {
  cursor: pointer;
}

.category-box img {
  width: 100%;
}

.category-box p {
  font-size: 1.8rem;
  color: rgb(42, 42, 42);
}

/* 
=======================
Deals Section
=======================
*/

.deals-section {
  margin-top: 3rem;
}

.deals-list {
  list-style: none;
  padding-top: 1.6rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.deals-list li,
.deals-text-box {
  display: flex;
  flex-direction: column;
}

.deals-list li {
  gap: 0.8rem;
}

.deals-text-box {
  gap: 0.2rem;
}

.deals-list img {
  width: 100%;
}

.deal-description {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(30, 30, 30);
}

.deal-quantity {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.5);
}

/* 
=======================
Inspiration Section
=======================
*/

.section-inspiration {
  margin-top: 3rem;
}

.inspiration-box {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.inspiration-box img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.inspiration-text-box::after {
  content: "";
  background-image: url(img/pepperfry.png);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.05);
  background-position: center;
  background-size: cover;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  z-index: 9;

  position: absolute;
  top: 65%;
}

.inspiration {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03);
  background-color: rgb(230, 230, 230);
  border-radius: 9px;
  overflow: hidden;

  position: relative;
}

.inspiration-text-box {
  height: 12rem;
  text-align: center;
  padding-top: 1rem;

  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inspiration-text {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.platform-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(30, 30, 30);
}

.username {
  font-size: 1rem;
}

.platform-icon {
  font-size: 2.4rem;
  color: orangered;
}

/* 
=======================
New Launches Section
=======================
*/

.new-launch-section {
  margin-top: 3.2rem;
}

.deal-price {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
}

/* 
=======================
More Section
=======================
*/

.more-section {
  margin-top: 3rem;
  background-image: url(img/MoreFromTheStore.jpg);
  background-size: cover;
}

.more-section .secondary-heading {
  padding-top: 2.2rem;
}

.more-links-box {
  display: flex;
  gap: 4rem;

  padding-bottom: 2.2rem;
}

.sub-div-heading {
  font-size: 1.4rem;
  color: rgb(30, 30, 30);
  font-weight: 700;
  padding-top: 2rem;
  margin-bottom: 0.6rem;
}

.variety-list {
  list-style: none;
}

.variety-list a:link,
.variety-list a:visited {
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-decoration: none;
  color: rgb(45, 45, 45);
  transition: all 0.2s;
  cursor: pointer;
}

.variety-list a:hover,
.variety-list a:active {
  color: #e66530;
}

/* 
=======================
Testimonials Section
=======================
*/

.testimonials {
  margin-top: 3rem;
}

.testimonial-box {
  padding-top: 1.6rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.4rem;
}

.testimonial-img img {
  width: 100%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial-text {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: rgb(30, 30, 30);
}

.author-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(27, 27, 27);
}

.author-place {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(86, 86, 86);
}

/* 
=======================
Guide Section
=======================
*/

.guide-section {
  margin-top: 3.2rem;
  margin-bottom: 4rem;
}

.contact-all {
  display: flex;
  justify-content: space-between;
}

.view-all:link,
.view-all:visited {
  font-size: 2rem;
  color: #ff7035;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  align-self: flex-end;
}

.guide-list {
  padding-top: 1.6rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
}

.guide-list li {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.guide-list img {
  width: 100%;
}

.guide-text-box {
  width: 90%;
}

.guide-description {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(30, 30, 30);
}

/* 
=======================
Footer Section
=======================
*/

.footer {
  background-color: #f3f5f7;
  margin-top: 2rem;
}

.footer .container {
  padding-top: 3.6rem;
}

.link-list-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  padding-bottom: 6rem;
}

.link-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(27, 27, 27);
}

.useful-link {
  padding-top: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.useful-link a {
  text-decoration: none;
  color: rgb(111, 111, 111);
  font-size: 1.2rem;
  font-weight: 500;
}

.detail-link {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: 55% 45%;
  column-gap: 6rem;

  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.cards-title {
  font-size: 1.6rem;
  color: rgb(27, 27, 27);
  font-weight: 600;
  padding-bottom: 2rem;
}

.cards-img {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1.6rem;
}

.cards-img img {
  width: 100%;
}

.social-img {
  display: flex;
  gap: 2rem;
}

.social-img img {
  width: 8%;
}

.terms {
  font-size: 1.2rem;
  color: rgba(121, 121, 121, 0.511);
  font-weight: 600;
  padding: 5rem 4rem 5rem 0;

  display: flex;
  justify-content: space-between;
}

.write,
.copyright {
  display: flex;
  gap: 2rem;
}

/* 
=======================
Responsive
=======================
*/

@media only screen and (max-width: 1140px) {
  html {
    font-size: 52.5%;
  }
}
